<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		 <link rel='stylesheet' type='text/css' />
       
        <link href="assets/css/icons.css" rel="stylesheet" />
        <!-- jQueryUI -->
        <link href="assets/css/sprflat-theme/jquery.ui.all.css" rel="stylesheet" />
        <!-- Bootstrap stylesheets (included template modifications) -->
        <link href="assets/css/bootstrap.css" rel="stylesheet" />
        <!-- Plugins stylesheets (all plugin custom css) -->
        <link href="assets/css/plugins.css" rel="stylesheet" />
        <!-- Main stylesheets (template main css file) -->
        <link href="assets/css/main.css" rel="stylesheet" />
        <!-- Custom stylesheets ( Put your own changes here ) -->
        <link href="assets/css/custom.css" rel="stylesheet" />
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/img/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/img/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/img/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/img/ico/apple-touch-icon-57-precomposed.png">
        <link rel="icon" href="assets/img/ico/favicon.ico" type="image/png">
	</head>
	<body>
		
        	 <div class="col-lg-12 heading">
                        <h3 class="page-header"><i class="ec-archive"></i>公告详情</h3>
                        <!-- Start .bredcrumb -->
                        <ul id="crumb" class="breadcrumb">
                        	<li><i class="im-home">
                        	</i>
                        	<a href="index.html">Home</a>
                        	<i class="en-arrow-right7"></i>
                        	</li>
                        	<li>公告详情</li></ul>
        	</div>
        	
        	<div style="background: #f5f5f5;border: 1px solid #939DAF;height: 500px;">
        		<div style="text-align: center;"><p class="form-control" style="font-size: 20px;" th:text="${list.headline}"></p></div>
        		<div><p style="font-size: 18px;text-align: center;" th:text="${list.ncontent}"></p></div>
        		<div style="text-align: center;"><img th:each="i:${list.imgs}" th:src="${i.nurl}" style="width: 600px;height: 200px;"/></div>
        		<div style="float: right;padding-top: 40px;margin-right: 100px;"><!-- assets/img/blog-post.jpg -->
        			<span th:if="${list.typeid==1}">全校公告:</span>
        			<span th:if="${list.typeid==2}">年级公告:</span>
        			<span th:if="${list.typeid==3}">班级公告:</span>
        			<span th:each="clazz : ${list.clazzs}" th:text="${clazz.name}"></span><br />
        			<span>发布人：</span><span  th:text="${list.cp_user.username}"></span><br />
        			<span>发布时间：</span><span th:text="${list.ntime}"></span>
        		</div>
        	</div>
        	
	</body>
</html>
