<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="height:400px"></div>
    <!-- ECharts单文件引入 -->
    <script src="/js/echarts.js"></script>
    <script src="/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        
        $(function(){
        	getChart();
        })
        
        // 使用
        function getChart(name, seKey, seId){
        	$.ajax({
        		url:'/getBarChart',
        		data:{
        			key : seKey,
        			id : seId
        		},
        		type:'post',
        		success:function(data){
        			if (!data) {
        				/* console.log("data is null"); */
						/* return; */
					}
        			var sDataList = eval(data);
			        require(
			            [
			                'echarts',
			                'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
			            ],
			            function (ec) {
			                // 基于准备好的dom，初始化echarts图表
			                var myChart = ec.init(document.getElementById('main')); 
			                
			                var option = {
			                	title:{
			                		text:"考试分数分布"
			                		
			                	},
			                    tooltip: {
			                        show: true
			                    },
			                    legend: {
			                        data:['人数']
			                    },
			                    xAxis : [
			                        {
			                            type : 'category',
			                            data : ['60分以下','60-70','70-80','80-90','90以上']
			                        }
			                    ],
			                    yAxis : [
			                        {
			                            type : 'value'
			                        }
			                    ],
			                    series : [
			                        {
			                            "name":"人数",
			                            "type":"bar",
			                            "data":[
			                            	23,178,334,352,87
			                            ]
			                        }
			                    ]
			                };
			        
			                // 为echarts对象加载数据 
			                myChart.setOption(option); 
			            }
			        );
        		}
        	})
        }
        </script>
</body>
</html>