<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="height:400px"></div>
    <!-- ECharts单文件引入 -->
    <script src="/js/echarts.js"></script>
    <script src="/js/jquery-1.12.4.js"></script>
    <script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        
        var paramList = {};
        paramList.url = "/getLearningCountBySimpleTid";
        paramList.param = {
        	id : 11,
        	total : 100,
        	name4 : 10
        };
        paramList.option = {
        	xAxis : {
        		name : '分数区间'
        	},yAxis : {
        		name : '人数'
        	}
        	
        }
        
        $(function(){
        	getChart(paramList);
        })
        
        function getChartByTid(template){
        	paramList.param = template;
        	getChart(paramList);
        }
        
        // 使用
        function getChart(paramList){
        	$.ajax({
        		url:paramList.url,
        		data:paramList.param,
        		type:'post',
        		dataType:'json',
        		success:function(data){
        			if (!data) {
        				console.log("data is null");
						/* return; */
					}
        			var sData = data;
			        require(
			            [
			                'echarts',
			                'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
			            ],
			            function (ec) {
			                // 基于准备好的dom，初始化echarts图表
			                var myChart = ec.init(document.getElementById('main')); 
			                
			                var option = {
			                	title:{
			                		text:"考试"+sData.id+"分数分布"
			                		
			                	},
			                    tooltip: {
			                        show: true
			                    },
			                    legend: {
			                        data:['人数']
			                    },
			                    xAxis : [
			                        {
			                        	name : paramList.option.xAxis.name,
			                            type : 'category',
			                            data : sData.list1
			                        }
			                    ],
			                    yAxis : [
			                        {
			                        	name : paramList.option.yAxis.name,
			                            type : 'value'
			                        }
			                    ],
			                    series : [
			                        {
			                            "name":"人数",
			                            "type":"bar",
			                            "data":sData.list2
			                        }
			                    ]
			                };
			        
			                // 为echarts对象加载数据 
			                myChart.setOption(option); 
			            }
			        );
        		}
        	})
        }
        </script>
</body>
</html>