<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>考试详情</title>
		<!-- Mobile specific metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.css" rel="stylesheet" />
		<script src="js/jquery-1.12.4.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/vue.js"></script>
	</head>
<body>
	<div class="container-fluid">
		<div id="content">
			<div class="outlet">
				<div class="row">
					
					<div class="col-lg-6 col-md-6">
						<div class="panel panel-primary plain toggle">
							<!-- Start .panel -->
							<div class="panel-heading">
								<h2 id="chart1_title" style="text-align: center"></h2>
								
							</div>
							<div class="panel-body">
								<iframe frameBorder="0" id="chart1" name="KSChart" scrolling="no"
									src="KSeriesChart.html" height="100%" width="100%" style="height:400px">
									
								</iframe>
							</div>
						</div>
						<!-- End .panel -->
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="panel panel-primary plain toggle">
							<!-- Start .panel -->
							<div class="panel-heading">
								<h2 style="text-align: center"></h2>
								
							</div>
							<div class="panel-body blue-bg">
								<iframe frameBorder="0" id="chart2" name="BarChart" scrolling="no"
									src="BarChart2.html" height="100%" width="100%" style="height:400px">
									
								</iframe>
							</div>
						</div>
						<!-- End .panel -->
					</div>
					<div class="col-lg-6 col-md-12">
						<div style="border: 1px solid #EEEEEE; height: 400px;" id="examDetail">
							<h1>考试详情</h1>
							<ul>
								<li id="templateId">
									考试编号：{{template.id}}
								</li>
								<li>
									考试名称：{{template.name}}
								</li>
								<li>
									考试时间：{{template.start}}
								</li>
								<!-- <li>
									考试难度：
								</li> -->
							</ul>
							<table class="table" id="searchClazz">
								<tr>
									<th>编号</th>
									<th>班级编号</th>
									<th>班级名称</th>
									<th>最高分</th>
									<th>最低分</th>
									<th>平均分</th>
									<th>最近考试时间</th>
								</tr>
								<tr v-for="(clazz, i) in list">
									<td>{{i}}</td>
									<td>{{clazz.id}}</td>
									<td>{{clazz.name}}</td>
									<td>{{clazz.maxScore}}</td>
									<td>{{clazz.minScore}}</td>
									<td>{{clazz.avgScore}}</td>
									<td>{{clazz.nearestTemplateStart}}</td>
								</tr>
									
									<!-- <tr>
										<td>1</td>
										<td>10121</td>
										<td>一二一</td>
										<td>1</td>
										<td>1</td>
										<td>1</td>
										<td>2019-01-11</td>
									</tr>
									<tr>
										<td>2</td>
										<td>10122</td>
										<td>一二二</td>
										<td>1</td>
										<td>1</td>
										<td>1</td>
										<td>2019-01-11</td>
									</tr>
									<tr>
										<td>3</td>
										<td>10123</td>
										<td>一二三</td>
										<td>1</td>
										<td>1</td>
										<td>1</td>
										<td>2019-01-11</td>
									</tr> -->
							</table>
						</div>
					</div>
					<!-- <div class="col-lg-6 col-md-6">
						<div class="panel panel-primary plain toggle">
							Start .panel
							<div class="panel-heading">
								<h2 style="text-align: center"></h2>
								
							</div>
							<div class="panel-body blue-bg">
								<iframe frameBorder="0" id="chart3" name="BarChart" scrolling="no"
									src="BarChart2.html" height="100%" width="100%" style="height:400px">
									
								</iframe>
							</div>
						</div>
						End .panel
					</div> -->
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var learningClazzList = new Vue({
			el : '#examDetail',
			data : {
				template : {},
				list : []
			}
		})
		
		function getLearningClazzByTemplateId(template){
			learningClazzList.template = template;
			$.ajax({
				url : '/getLearningClazzByTemplateId',
				data : {
					templateId : template.id
				},
				type : 'post',
				success : function(data){
					learningClazzList.list = data;
				}
			})
			
		}
		
		function init(template){
			console.log("ed1");
			getLearningClazzByTemplateId(template);
			console.log("ed2");
			getKSChartByTemplateId(template);
			console.log("ed3");
			getBarChartByTemplate(template);
			console.log("ed4");
		}
	
		function getKSChartByClassId(clazz){
			$("#chart1")[0].contentWindow.getKSChartByClassId(clazz);
	    }
	    
		function getKSChartByTemplateId(template){
			$("#chart1")[0].contentWindow.getKSChartByTemplateId(template);
	    }
		
		function getBarChartByTemplate(template){
			$("#chart2")[0].contentWindow.getChartByTid(template);
		}
	</script>
</body>
</html>