<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>LineSeriesChart</title>
</head>
<body>
	<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="height:400px"></div>
    <!-- ECharts单文件引入 -->
    <script src="/js/echarts.js"></script>
    <script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        
        // 使用
        require(
            [
                'echarts',
                'echarts/chart/line' // 使用柱状图就加载bar模块，按需加载
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main')); 
                
                var option = {
                		title:{
                			text:"xxx考试成绩"
                		},
                    tooltip: {
                        show: true
                    },
                    legend: {
                        data:['分数']
                    },
                    xAxis : [
                        {
                            type : 'category',
                            data : [1,2,3,4,5]
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value'
                        }
                    ],
                    series : [
                        {
                            "name":"分数",
                            "type":"line",
                            "data":[
                            	55,55,55,55,55
                            ]
                        }
                    ]
                };
        
                // 为echarts对象加载数据 
                myChart.setOption(option); 
            }
        );
        </script>
        
        
        
        <div>数据统计分析</div>
    <div>数据报表</div>
</body>
</html>