<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>试题</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="author" content="SuggeElson" />
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <meta name="application-name" content="sprFlat admin template" />
        <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|Droid+Sans:400,700' />
        <link href="assets/css/icons.css" rel="stylesheet" />
        <link href="assets/css/sprflat-theme/jquery.ui.all.css" rel="stylesheet" />
        <link href="assets/css/bootstrap.css" rel="stylesheet" />
        <link href="assets/css/plugins.css" rel="stylesheet" />
        <link href="assets/css/main.css" rel="stylesheet" />
        <link href="assets/css/custom.css" rel="stylesheet" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/img/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/img/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/img/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/img/ico/apple-touch-icon-57-precomposed.png">
        <link rel="icon" href="assets/img/ico/favicon.ico" type="image/png">
        <meta name="msapplication-TileColor" content="#3399cc" />
        <script src="assets/plugins/core/pace/pace.min.js"></script>
        <script src="assets/js/jquery-1.8.3.min.js"></script>
        <script>
        window.jQuery || document.write('<script src="assets/js/libs/jquery-2.1.1.min.js">\x3C/script>')
        </script>
        <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script>
        window.jQuery || document.write('<script src="assets/js/libs/jquery-ui-1.10.4.min.js">\x3C/script>')
        </script>
        <script src="assets/js/bootstrap/bootstrap.js"></script>
        <script src="assets/js/jRespond.min.js"></script>
        <script src="assets/plugins/core/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="assets/plugins/core/slimscroll/jquery.slimscroll.horizontal.min.js"></script>
        <script src="assets/plugins/forms/autosize/jquery.autosize.js"></script>
        <script src="assets/plugins/core/quicksearch/jquery.quicksearch.js"></script>
        <script src="assets/plugins/ui/bootbox/bootbox.js"></script>
        <script src="assets/plugins/core/moment/moment.min.js"></script>
        <script src="assets/plugins/charts/sparklines/jquery.sparkline.js"></script>
        <script src="assets/plugins/charts/pie-chart/jquery.easy-pie-chart.js"></script>
        <script src="assets/plugins/forms/icheck/jquery.icheck.js"></script>
        <script src="assets/plugins/forms/tags/jquery.tagsinput.min.js"></script>
        <script src="assets/plugins/forms/tinymce/tinymce.min.js"></script>
        <script src="assets/plugins/misc/highlight/highlight.pack.js"></script>
        <script src="assets/plugins/misc/countTo/jquery.countTo.js"></script>
        <script src="assets/js/jquery.sprFlat.js"></script>
        <script src="assets/js/app.js"></script>
        <script src="assets/js/pages/blank.js"></script>
        <script src="assets/js/vue.js"></script>
    </head>
    <body>
        <div id="content">
            <!-- Start .content-wrapper -->
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 heading">
                        <h1 class="page-header"><i class="im-font"></i> 做题</h1>
                        </ul>
                    </div>
                </div>
                <div class="outlet">
                    <div class="row">
                        <div class="col-lg-12">
                             <div class="panel panel-default toggle cp_xz">
					            <div class="panel-heading">
					                <h3 class="panel-title">选择题</h3>
					            </div>
					            <div class="panel-body topics" >
					            	<div class="panel panel-default toggle" id="cp_xuan" v-for="(obj1,index) in list.cquestion" >
					                    <div class="panel-heading" style="background-color: #0088CC;">
					                        <h3 class="panel-title" style="color: white;">题目1</h3>
					                    </div>
					                    <div class="panel-body">
					                        <div class="form-horizontal">
					                            <div class="form-group">
					                                <label class="col-lg-2 col-md-2 col-sm-12 control-label">题目</label>
					                                <div class="col-lg-10 col-md-10">
					                                    <input class="form-control mask-phone" type="text" v-bind:value="obj1.question" disabled="disabled">
					                                </div>
					                            </div>
					                            <div class="form-group" v-for="objs2,index in obj1.a">
					                                <label class="col-lg-2 col-md-2 col-sm-12 control-label"><input type="checkbox" name="chkId"></label>
					                                <div class="col-lg-10 col-md-10">
					                                    <input  class="form-control mask-phoneExt"  type="text" name="daan1" v-bind:value="objs2" v-bind:data-id="objs2.id" disabled="disabled">
					                                </div>
					                            </div>
					                        </div>
					                    </div>
					                </div>
					            </div>
					        </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">填空题</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="col-lg-10 col-md-10" v-for="(obj2,index) in list2.tquestion">
                                    	<div class="panel-heading" style="background-color: #0088CC;">
					                        <h3 class="panel-title" style="color: white;">题目1</h3>
					                    </div>
					                    <div class="panel-body">
					                        <form class="form-horizontal" role="form">
					                            <div class="form-group">
					                                <textarea class="form-control" rows="3" disabled="disabled">{{obj2.question}}</textarea>
					                            </div>
					                           <input class="form-control" id="mask-phoneExt" type="text">
					                        </form>
					                    </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End .panel -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">应用题</h4>
                                </div>
                                <div class="panel-body">
                                	<div class="col-lg-10 col-md-10" v-for="(obj3,index) in list3.yquestion">
                                    	<div class="panel-heading" style="background-color: #0088CC;">
					                        <h3 class="panel-title" style="color: white;">题目1</h3>
					                    </div>
					                    <div class="panel-body">
					                        <form class="form-horizontal" role="form">
					                            <div class="col-lg-10 col-md-10">
			                                        <textarea class="form-control" rows="3" disabled="disabled">{{obj3.question}}</textarea>
			                                        <textarea class="form-control" rows="3"></textarea>
		                                   		 </div>
					                        </form>
					                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"><button class="btn btn-success cp_bot">提交</button></div>
        </div>
    </body>
</html>
<script type="text/javascript">
var v = new Vue({
	el : ".outlet",
		data : {
			list:{},
			list2:{},
			list3:{}
		},
	})
$(function() {
	/* 选择题 */
	$.ajax({
		data:{id:24},
		type:"post",
		url:"/cp_querycquestion",
		success : function(data) {
			console.log(data.cquestion[1].id)
			for(var i=0;i<data.cquestion.length;i++){
				var str=data.cquestion[i].answer
				var a1=str.substring(0,str.indexOf(","))
				str=str.substring(str.indexOf(",")+1)
				var a2=str.substring(0,str.indexOf(","))
				str=str.substring(str.indexOf(",")+1)
				var a3=str.substring(0,str.indexOf(","))
				var a4=str.substring(str.indexOf(",")+1)
				console.log(a1+"\n"+a2+"\n"+a3+"\n"+a4)
				data.cquestion[i].a=[a1,a2,a3,a4]
			}
			v.list=data;
		}
	}); 
	/* 填空题 */
	$.ajax({
		data:{id:24},
		type:"post",
		url:"/cp_querytquestion",
		success : function(data) {
			console.log(data)
			v.list2=data;
		}
	});
	/* 应用题 */
	$.ajax({
		data:{id:24},
		type:"post",
		url:"/cp_queryyquestion",
		success : function(data) {
			console.log(data)
			v.list3=data;
		}
	});
	
	$(".cp_bot").click(function(){
		var correct="";
		var checked=$(".panel :checked");
		console.log(checked);
		$.each(checked,function(){
			var val=$(this).parents(".form-group").find(":text").val();
			var data=$(this).parents(".form-group").find(":text").getAttribute('data-id');
			alert(data)
			correct+=val+",";
		});
		correct = correct.substring(0, correct.length - 1);
		alert(correct)
	})
})
</script>