<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>试题</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="author" content="SuggeElson" />
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <meta name="application-name" content="sprFlat admin template" />
        <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|Droid+Sans:400,700' />
        <link href="assets/css/icons.css" rel="stylesheet" />
        <link href="assets/css/sprflat-theme/jquery.ui.all.css" rel="stylesheet" />
        <link href="assets/css/bootstrap.css" rel="stylesheet" />
        <link href="assets/css/plugins.css" rel="stylesheet" />
        <link href="assets/css/main.css" rel="stylesheet" />
        <link href="assets/css/custom.css" rel="stylesheet" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/img/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/img/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/img/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/img/ico/apple-touch-icon-57-precomposed.png">
        <link rel="icon" href="assets/img/ico/favicon.ico" type="image/png">
        <meta name="msapplication-TileColor" content="#3399cc" />
        <script src="assets/plugins/core/pace/pace.min.js"></script>
        <script src="assets/js/jquery-1.8.3.min.js"></script>
        <script>
        window.jQuery || document.write('<script src="assets/js/libs/jquery-2.1.1.min.js">\x3C/script>')
        </script>
        <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script>
        window.jQuery || document.write('<script src="assets/js/libs/jquery-ui-1.10.4.min.js">\x3C/script>')
        </script>
        <script src="assets/js/bootstrap/bootstrap.js"></script>
        <script src="assets/js/jRespond.min.js"></script>
        <script src="assets/plugins/core/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="assets/plugins/core/slimscroll/jquery.slimscroll.horizontal.min.js"></script>
        <script src="assets/plugins/forms/autosize/jquery.autosize.js"></script>
        <script src="assets/plugins/core/quicksearch/jquery.quicksearch.js"></script>
        <script src="assets/plugins/ui/bootbox/bootbox.js"></script>
        <script src="assets/plugins/core/moment/moment.min.js"></script>
        <script src="assets/plugins/charts/sparklines/jquery.sparkline.js"></script>
        <script src="assets/plugins/charts/pie-chart/jquery.easy-pie-chart.js"></script>
        <script src="assets/plugins/forms/icheck/jquery.icheck.js"></script>
        <script src="assets/plugins/forms/tags/jquery.tagsinput.min.js"></script>
        <script src="assets/plugins/forms/tinymce/tinymce.min.js"></script>
        <script src="assets/plugins/misc/highlight/highlight.pack.js"></script>
        <script src="assets/plugins/misc/countTo/jquery.countTo.js"></script>
        <script src="assets/js/jquery.sprFlat.js"></script>
        <script src="assets/js/app.js"></script>
        <script src="assets/js/pages/blank.js"></script>
        <script src="assets/js/vue.js"></script>
    </head>
    <body>
        <div id="content">
            <!-- Start .content-wrapper -->
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 heading">
                        <h1 class="page-header"><i class="im-font"></i> 做题</h1>
                        </ul>
                    </div>
                </div>
                <div class="outlet">
                    <div class="row">
                        <div class="col-lg-12">
                             <div class="panel panel-default toggle cp_xz">
					            <div class="panel-heading">
					                <h3 class="panel-title">选择题</h3>
					            </div>
					            <div class="panel-body topics" >
					            	<div class="cp_xuan panel panel-default toggle" v-for="(obj1,index) in list.cquestion" >
					                    <div class="panel-heading" style="background-color: #0088CC;">
					                        <h3 class="panel-title" style="color: white;">题目1</h3>
					                    </div>
					                    <div class="panel-body">
					                        <div class="form-horizontal">
					                            <div class="form-group">
					                                <label class="col-lg-2 col-md-2 col-sm-12 control-label cp_lable" v-bind:data-id="obj1.id">题目</label>
					                                <div class="col-lg-10 col-md-10">
					                                    <input class="form-control mask-phone" type="text" v-bind:value="obj1.question"  disabled="disabled">
					                                </div>
					                            </div>
					                            <div class="form-group" v-for="objs2,index in obj1.a">
					                                <label class="col-lg-2 col-md-2 col-sm-12 control-label"><input type="checkbox" name="chkId" ></label>
					                                <div class="col-lg-10 col-md-10">
					                                    <input  class="form-control mask-phoneExt cp_form"  type="text" name="daan1" v-bind:value="objs2" disabled="disabled">
					                                </div>
					                            </div>
					                        </div>
					                    </div>
					                </div>
					            </div>
					        </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">填空题</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="col-lg-10 col-md-10" v-for="(obj2,index) in list2.tquestion">
                                    	<div class="panel-heading" style="background-color: #0088CC;">
					                        <h3 class="panel-title" style="color: white;">题目1</h3>
					                    </div>
					                    <div class="panel-body cp_tiankongti">
					                        <div class="cp-horizontal">
					                            <div class="form-group">
					                                <textarea class="form-control" rows="3" disabled="disabled" v-bind:data-id="obj2.id">{{obj2.question}}</textarea>
					                            </div>
					                            <button type="button" value="test" class="cp_tiankong" onclick ="check(this)">开始答题</button>
					                        </div>
					                    </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End .panel -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">应用题</h4>
                                </div>
                                <div class="panel-body">
                                	<div class="col-lg-10 col-md-10" v-for="(obj3,index) in list3.yquestion">
                                    	<div class="panel-heading" style="background-color: #0088CC;">
					                        <h3 class="panel-title" style="color: white;">题目1</h3>
					                    </div>
					                    <div class="panel-body">
					                        <div>
					                            <div class="col-lg-10 col-md-10 tt-horizontal">
			                                        <textarea class="form-control" rows="3" disabled="disabled" v-bind:data-id="obj3.id">{{obj3.question}}</textarea>
			                                        <textarea class="form-control" rows="3"></textarea>
		                                   		 </div>
					                        </div>
					                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"><button class="btn btn-success cp_bot">提交</button></div>
        </div>
    </body>
</html>
<script type="text/javascript">
var v = new Vue({
	el : ".outlet",
		data : {
			list:{},
			list2:{},
			list3:{}
		},
	})
function getNowFormatDate() {
    var date = new Date();
    var seperator1 = "-";
    var seperator2 = ":";
    var month = date.getMonth() + 1;
    var strDate = date.getDate();
    if (month >= 1 && month <= 9) {
        month = "0" + month;
    }
    if (strDate >= 0 && strDate <= 9) {
        strDate = "0" + strDate;
    }
    var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
            + " " + date.getHours() + seperator2 + date.getMinutes()
            + seperator2 + date.getSeconds();
    return currentdate;
}
$(function() {
	/* 选择题 */
	$.ajax({
		data:{id:25},
		type:"post",
		url:"/cp_querycquestion",
		success : function(data) {
			for(var i=0;i<data.cquestion.length;i++){
				var str=data.cquestion[i].answer
				var a1=str.substring(0,str.indexOf(","))
				str=str.substring(str.indexOf(",")+1)
				var a2=str.substring(0,str.indexOf(","))
				str=str.substring(str.indexOf(",")+1)
				var a3=str.substring(0,str.indexOf(","))
				var a4=str.substring(str.indexOf(",")+1)
				console.log(a1+"\n"+a2+"\n"+a3+"\n"+a4)
				data.cquestion[i].a=[a1,a2,a3,a4]
			}
			v.list=data;
		}
	}); 
	/* 填空题 */
	$.ajax({
		data:{id:25},
		type:"post",
		url:"/cp_querytquestion",
		success : function(data) {
			v.list2=data;
		}
	});
	/* 应用题 */
	$.ajax({
		data:{id:25},
		type:"post",
		url:"/cp_queryyquestion",
		success : function(data) {
			v.list3=data;
		}
	});

	$(".cp_bot").click(function(){
		xuanze();
		tiankong();
		yingyong();
	})
})
//点击按钮根据
 function check(th){
	var question=$(th).prev().children("textarea").val();
	var ainput=$(th).parent();
	var reg = new RegExp( '()' , 'g' );
	var b=question.split("()").length-1;
	for(var i = 0; i < b; i++){
        var input="<input class=\"form-control cp_xdaan\" name=\"mask-cp\" type=\"text\">"
        $(ainput).append(input);
    }
	$(th).remove();
} 
/* 选择题 */
function xuanze(){
	var name1=getNowFormatDate();
	var xuan="";
	var sid=1;
	var sum=0;
	var templateid=v.list.id;//模板id
	var cid="";//题目类型id
	var record=[];
	$(".form-horizontal").each(function(){
		++sum;
	})
	var name3=50/sum;
	$(".form-horizontal").each(function(){
		//添加每题多少分
		var id=$(this).find("label").attr("data-id");
		var result="";
		var t={
				tid:parseInt(id),
				templateid:templateid,
				cid:1,
				sid:sid,
				name1:name1,
				name3:name3
		};
		/* var str="record[0].tid="+tid+"record[0].id="+id
		str+="record[1].tid="+tid+"record[1].id="+id */
		$(this).find(":checked").each(function(){
			var val=$(this).parent().next().find(":text").val();
			result+=val+",";
		});
		t.result=result.substring(0,result.length-1);
		record.push(t);
	});
	console.log(record)
	$.ajax({
		data:JSON.stringify(record),
		type:"post",
		 contentType: 'application/json',
		url:"/insertxuan",
		success : function(data) {
			xuan=data
		}
	}); 
	return xuan;
}
/* 填空题 */
function tiankong(){
	var name1=getNowFormatDate();
	var tian="";
	var sum=0;
	var sid=1;
	var templateid=v.list.id;//模板id
	var cid="";//题目类型id
	var list2=[];
	$(".cp-horizontal").each(function(){
		++sum;
	})
	var name3=20/sum;
	$(".cp-horizontal").each(function(){
		var id=$(this).find("textarea").attr("data-id");
		var result="";
		var t1={
				tid:id,
				templateid:templateid,
				cid:2,
				sid:sid,
				name1:name1,
				name3:name3
		};
		$(this).find(".cp_xdaan").each(function(){
			var val1=$(this).val();
			result+=val1+",";
		});
		t1.result=result.substring(0,result.length-1);
		list2.push(t1);
	});
	console.log(list2)
	$.ajax({
			data:JSON.stringify(list2),
			type:"post",
			 contentType: 'application/json',
			url:"/insertxuan",
			success : function(data) {
				tian=data
			}
		}); 
		return tian;
}
/* 应用题 */
function yingyong(){
	var name1=getNowFormatDate();
	var ying="";
	var sid=1;
	var sum=0;
	var templateid=v.list.id;//模板id
	var cid="";//题目类型id
	var list3=[];
	$(".tt-horizontal").each(function(){
		++sum;
	})
	var name3=30/sum;
	$(".tt-horizontal").each(function(){
		var id=$(this).find("textarea").attr("data-id");
		var result=$(this).find("textarea").last().val();
		var t={
				tid:id,
				templateid:templateid,
				cid:3,
				sid:sid,
				result:result,
				name1:name1,
				name3:name3
		};
		list3.push(t);
	});
	console.log(list3)
	$.ajax({
		data:JSON.stringify(list3),
		type:"post",
		contentType: 'application/json',
		url:"/insertxuan",
		success : function(data) {
			if(data!=0){
				alert("交卷成功!")
			}
		}
	}); 
	return ying;
}

</script>