<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhxy.dao.AssignmentPutOffMapper">
  <resultMap id="BaseResultMap" type="com.zhxy.domain.AssignmentPutOff">
    <id column="Ljx_Tuid" jdbcType="INTEGER" property="ljxTuid" />
    <result column="Ljx_Tid" jdbcType="INTEGER" property="ljxTid" />
    <result column="Ljx_Uid" jdbcType="INTEGER" property="ljxUid" />
    <result column="Ljx_Class" jdbcType="VARCHAR" property="ljxClass" />
    <result column="Ljx_Classes" jdbcType="VARCHAR" property="ljxClasses" />
    <result column="Ljx_Titme" jdbcType="TIMESTAMP" property="ljxTitme" />
    <result column="Ljx_Content" jdbcType="VARCHAR" property="ljxContent" />
    <result column="name1" jdbcType="VARCHAR" property="name1" />
    <result column="name2" jdbcType="VARCHAR" property="name2" />
    <result column="name3" jdbcType="VARCHAR" property="name3" />
    <result column="name4" jdbcType="VARCHAR" property="name4" />
    <result column="name5" jdbcType="VARCHAR" property="name5" />
  </resultMap>
  <sql id="Base_Column_List">
    Ljx_Tuid, Ljx_Tid, Ljx_Uid, Ljx_Class, Ljx_Classes, Ljx_Titme, Ljx_Content, name1, 
    name2, name3, name4, name5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from assignment_put_off
    where Ljx_Tuid = #{ljxTuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from assignment_put_off
    where Ljx_Tuid = #{ljxTuid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhxy.domain.AssignmentPutOff">
    insert into assignment_put_off (Ljx_Tuid, Ljx_Tid, Ljx_Uid, 
      Ljx_Class, Ljx_Classes, Ljx_Titme, 
      Ljx_Content, name1, name2, 
      name3, name4, name5
      )
    values (#{ljxTuid,jdbcType=INTEGER}, #{ljxTid,jdbcType=INTEGER}, #{ljxUid,jdbcType=INTEGER}, 
      #{ljxClass,jdbcType=VARCHAR}, #{ljxClasses,jdbcType=VARCHAR}, #{ljxTitme,jdbcType=TIMESTAMP}, 
      #{ljxContent,jdbcType=VARCHAR}, #{name1,jdbcType=VARCHAR}, #{name2,jdbcType=VARCHAR}, 
      #{name3,jdbcType=VARCHAR}, #{name4,jdbcType=VARCHAR}, #{name5,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhxy.domain.AssignmentPutOff">
    insert into assignment_put_off
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ljxTuid != null">
        Ljx_Tuid,
      </if>
      <if test="ljxTid != null">
        Ljx_Tid,
      </if>
      <if test="ljxUid != null">
        Ljx_Uid,
      </if>
      <if test="ljxClass != null">
        Ljx_Class,
      </if>
      <if test="ljxClasses != null">
        Ljx_Classes,
      </if>
      <if test="ljxTitme != null">
        Ljx_Titme,
      </if>
      <if test="ljxContent != null">
        Ljx_Content,
      </if>
      <if test="name1 != null">
        name1,
      </if>
      <if test="name2 != null">
        name2,
      </if>
      <if test="name3 != null">
        name3,
      </if>
      <if test="name4 != null">
        name4,
      </if>
      <if test="name5 != null">
        name5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ljxTuid != null">
        #{ljxTuid,jdbcType=INTEGER},
      </if>
      <if test="ljxTid != null">
        #{ljxTid,jdbcType=INTEGER},
      </if>
      <if test="ljxUid != null">
        #{ljxUid,jdbcType=INTEGER},
      </if>
      <if test="ljxClass != null">
        #{ljxClass,jdbcType=VARCHAR},
      </if>
      <if test="ljxClasses != null">
        #{ljxClasses,jdbcType=VARCHAR},
      </if>
      <if test="ljxTitme != null">
        #{ljxTitme,jdbcType=TIMESTAMP},
      </if>
      <if test="ljxContent != null">
        #{ljxContent,jdbcType=VARCHAR},
      </if>
      <if test="name1 != null">
        #{name1,jdbcType=VARCHAR},
      </if>
      <if test="name2 != null">
        #{name2,jdbcType=VARCHAR},
      </if>
      <if test="name3 != null">
        #{name3,jdbcType=VARCHAR},
      </if>
      <if test="name4 != null">
        #{name4,jdbcType=VARCHAR},
      </if>
      <if test="name5 != null">
        #{name5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhxy.domain.AssignmentPutOff">
    update assignment_put_off
    <set>
      <if test="ljxTid != null">
        Ljx_Tid = #{ljxTid,jdbcType=INTEGER},
      </if>
      <if test="ljxUid != null">
        Ljx_Uid = #{ljxUid,jdbcType=INTEGER},
      </if>
      <if test="ljxClass != null">
        Ljx_Class = #{ljxClass,jdbcType=VARCHAR},
      </if>
      <if test="ljxClasses != null">
        Ljx_Classes = #{ljxClasses,jdbcType=VARCHAR},
      </if>
      <if test="ljxTitme != null">
        Ljx_Titme = #{ljxTitme,jdbcType=TIMESTAMP},
      </if>
      <if test="ljxContent != null">
        Ljx_Content = #{ljxContent,jdbcType=VARCHAR},
      </if>
      <if test="name1 != null">
        name1 = #{name1,jdbcType=VARCHAR},
      </if>
      <if test="name2 != null">
        name2 = #{name2,jdbcType=VARCHAR},
      </if>
      <if test="name3 != null">
        name3 = #{name3,jdbcType=VARCHAR},
      </if>
      <if test="name4 != null">
        name4 = #{name4,jdbcType=VARCHAR},
      </if>
      <if test="name5 != null">
        name5 = #{name5,jdbcType=VARCHAR},
      </if>
    </set>
    where Ljx_Tuid = #{ljxTuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhxy.domain.AssignmentPutOff">
    update assignment_put_off
    set Ljx_Tid = #{ljxTid,jdbcType=INTEGER},
      Ljx_Uid = #{ljxUid,jdbcType=INTEGER},
      Ljx_Class = #{ljxClass,jdbcType=VARCHAR},
      Ljx_Classes = #{ljxClasses,jdbcType=VARCHAR},
      Ljx_Titme = #{ljxTitme,jdbcType=TIMESTAMP},
      Ljx_Content = #{ljxContent,jdbcType=VARCHAR},
      name1 = #{name1,jdbcType=VARCHAR},
      name2 = #{name2,jdbcType=VARCHAR},
      name3 = #{name3,jdbcType=VARCHAR},
      name4 = #{name4,jdbcType=VARCHAR},
      name5 = #{name5,jdbcType=VARCHAR}
    where Ljx_Tuid = #{ljxTuid,jdbcType=INTEGER}
  </update>
  
  <select id="putoff" resultMap="putoffone">
  		SELECT * FROM `assignment_put_off` WHERE `ljxUid`=#{ljxUid}
  </select>
  <resultMap type="com.zhxy.domain.AssignmentPutOff" id="putoffone">
  		<id property="ljxTuid" column="ljxTuid"/>
  		<result property="ljxTid" column="ljxTid"/>
  		<result property="ljxUid" column="ljxUid"/>
  		<result property="ljxClass" column="ljxClass"/>
  		<result property="ljxClasses" column="ljxClasses"/>
  		<result property="ljxTitme" column="ljxTitme"/>
  		<result property="ljxContent" column="ljxContent"/>
  		
  		<collection property="stulist" column="ljxTid"
  		ofType="com.zhxy.domain.Studentassignment"
  		select="com.zhxy.dao.StudentassignmentMapper.stuquery"></collection>
  </resultMap>
  
  <insert id="putoffinsert" parameterType="com.zhxy.domain.AssignmentPutOff">
  		INSERT INTO `assignment_put_off` (`ljxTid`,`ljxUid`,`ljxClass`,`ljxClasses`,`ljxTitme`,`ljxContent`)
		VALUES(#{ljxTid},#{ljxUid},#{ljxClass},#{ljxClasses},#{ljxTitme},#{ljxContent})
  </insert>
</mapper>