<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhxy.dao.CquestionMapper">
  <resultMap id="BaseResultMap" type="com.zhxy.domain.Cquestion">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="question" jdbcType="VARCHAR" property="question" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="correct" jdbcType="VARCHAR" property="correct" />
    <result column="Qid" jdbcType="INTEGER" property="qid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="difficulty" jdbcType="INTEGER" property="difficulty" />
    <result column="frequency" jdbcType="INTEGER" property="frequency" />
    <result column="name1" jdbcType="VARCHAR" property="name1" />
    <result column="name2" jdbcType="VARCHAR" property="name2" />
    <result column="name3" jdbcType="VARCHAR" property="name3" />
    <result column="name4" jdbcType="VARCHAR" property="name4" />
    <result column="name5" jdbcType="VARCHAR" property="name5" />
  </resultMap>
  <sql id="Base_Column_List">
    id, question, answer, correct, Qid, uid, status, time, difficulty, frequency, name1, 
    name2, name3, name4, name5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cquestion
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cquestion
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhxy.domain.Cquestion">
    insert into cquestion (id, question, answer, 
      correct, Qid, uid, 
      status, time, difficulty, 
      frequency, name1, name2, 
      name3, name4, name5
      )
    values (#{id,jdbcType=INTEGER}, #{question,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}, 
      #{correct,jdbcType=VARCHAR}, #{qid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{time,jdbcType=VARCHAR}, #{difficulty,jdbcType=INTEGER}, 
      #{frequency,jdbcType=INTEGER}, #{name1,jdbcType=VARCHAR}, #{name2,jdbcType=VARCHAR}, 
      #{name3,jdbcType=VARCHAR}, #{name4,jdbcType=VARCHAR}, #{name5,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertCquestion" parameterType="com.zhxy.domain.Cquestion">
    insert into cquestion
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="question != null">
        question,
      </if>
      <if test="answer != null">
        answer,
      </if>
      <if test="correct != null">
        correct,
      </if>
      <if test="qid != null">
        Qid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="difficulty != null">
        difficulty,
      </if>
      <if test="frequency != null">
        frequency,
      </if>
      <if test="name1 != null">
        name1,
      </if>
      <if test="name2 != null">
        name2,
      </if>
      <if test="name3 != null">
        name3,
      </if>
      <if test="name4 != null">
        name4,
      </if>
      <if test="name5 != null">
        name5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="question != null">
        #{question,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="correct != null">
        #{correct,jdbcType=VARCHAR},
      </if>
      <if test="qid != null">
        #{qid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="difficulty != null">
        #{difficulty,jdbcType=INTEGER},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=INTEGER},
      </if>
      <if test="name1 != null">
        #{name1,jdbcType=VARCHAR},
      </if>
      <if test="name2 != null">
        #{name2,jdbcType=VARCHAR},
      </if>
      <if test="name3 != null">
        #{name3,jdbcType=VARCHAR},
      </if>
      <if test="name4 != null">
        #{name4,jdbcType=VARCHAR},
      </if>
      <if test="name5 != null">
        #{name5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhxy.domain.Cquestion">
    update cquestion
    <set>
      <if test="question != null">
        question = #{question,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="correct != null">
        correct = #{correct,jdbcType=VARCHAR},
      </if>
      <if test="qid != null">
        Qid = #{qid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="difficulty != null">
        difficulty = #{difficulty,jdbcType=INTEGER},
      </if>
      <if test="frequency != null">
        frequency = #{frequency,jdbcType=INTEGER},
      </if>
      <if test="name1 != null">
        name1 = #{name1,jdbcType=VARCHAR},
      </if>
      <if test="name2 != null">
        name2 = #{name2,jdbcType=VARCHAR},
      </if>
      <if test="name3 != null">
        name3 = #{name3,jdbcType=VARCHAR},
      </if>
      <if test="name4 != null">
        name4 = #{name4,jdbcType=VARCHAR},
      </if>
      <if test="name5 != null">
        name5 = #{name5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhxy.domain.Cquestion">
    update cquestion
    set question = #{question,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      correct = #{correct,jdbcType=VARCHAR},
      Qid = #{qid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      time = #{time,jdbcType=VARCHAR},
      difficulty = #{difficulty,jdbcType=INTEGER},
      frequency = #{frequency,jdbcType=INTEGER},
      name1 = #{name1,jdbcType=VARCHAR},
      name2 = #{name2,jdbcType=VARCHAR},
      name3 = #{name3,jdbcType=VARCHAR},
      name4 = #{name4,jdbcType=VARCHAR},
      name5 = #{name5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryCquestion" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT * FROM `cquestion` WHERE `Qid`=#{qid}
  </select>
</mapper>