<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhxy.dao.NoticeMapper">
  <resultMap id="BaseResultMap" type="com.zhxy.domain.Notice">
    <id column="Notice_Id" jdbcType="INTEGER" property="noticeId" />
    <result column="Uid" jdbcType="INTEGER" property="uid" />
    <result column="ncontent" jdbcType="VARCHAR" property="ncontent" />
    <result column="TypeId" jdbcType="INTEGER" property="typeid" />
    <result column="read" jdbcType="VARCHAR" property="read" />
    <result column="headline" jdbcType="VARCHAR" property="headline" />
    <result column="Ntime" jdbcType="TIMESTAMP" property="ntime" />
    <result column="nstate" jdbcType="INTEGER" property="nstate" />
    <result column="target" jdbcType="INTEGER" property="target" />
    <result column="name1" jdbcType="VARCHAR" property="name1" />
    <result column="name2" jdbcType="VARCHAR" property="name2" />
    <result column="name3" jdbcType="VARCHAR" property="name3" />
    <result column="name4" jdbcType="VARCHAR" property="name4" />
    <result column="name5" jdbcType="VARCHAR" property="name5" />
  </resultMap>
  <sql id="Base_Column_List">
    Notice_Id, Uid, ncontent, TypeId, read, headline, Ntime, nstate, target, name1, name2, 
    name3, name4, name5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from notice
    where Notice_Id = #{noticeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from notice
    where Notice_Id = #{noticeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhxy.domain.Notice">
    insert into notice (Notice_Id, Uid, ncontent, 
      TypeId, read, headline, 
      Ntime, nstate, target, 
      name1, name2, name3, 
      name4, name5)
    values (#{noticeId,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{ncontent,jdbcType=VARCHAR}, 
      #{typeid,jdbcType=INTEGER}, #{read,jdbcType=VARCHAR}, #{headline,jdbcType=VARCHAR}, 
      #{ntime,jdbcType=TIMESTAMP}, #{nstate,jdbcType=INTEGER}, #{target,jdbcType=INTEGER}, 
      #{name1,jdbcType=VARCHAR}, #{name2,jdbcType=VARCHAR}, #{name3,jdbcType=VARCHAR}, 
      #{name4,jdbcType=VARCHAR}, #{name5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhxy.domain.Notice">
    insert into notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="noticeId != null">
        Notice_Id,
      </if>
      <if test="uid != null">
        Uid,
      </if>
      <if test="ncontent != null">
        ncontent,
      </if>
      <if test="typeid != null">
        TypeId,
      </if>
      <if test="read != null">
        read,
      </if>
      <if test="headline != null">
        headline,
      </if>
      <if test="ntime != null">
        Ntime,
      </if>
      <if test="nstate != null">
        nstate,
      </if>
      <if test="target != null">
        target,
      </if>
      <if test="name1 != null">
        name1,
      </if>
      <if test="name2 != null">
        name2,
      </if>
      <if test="name3 != null">
        name3,
      </if>
      <if test="name4 != null">
        name4,
      </if>
      <if test="name5 != null">
        name5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="noticeId != null">
        #{noticeId,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="ncontent != null">
        #{ncontent,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null">
        #{typeid,jdbcType=INTEGER},
      </if>
      <if test="read != null">
        #{read,jdbcType=VARCHAR},
      </if>
      <if test="headline != null">
        #{headline,jdbcType=VARCHAR},
      </if>
      <if test="ntime != null">
        #{ntime,jdbcType=TIMESTAMP},
      </if>
      <if test="nstate != null">
        #{nstate,jdbcType=INTEGER},
      </if>
      <if test="target != null">
        #{target,jdbcType=INTEGER},
      </if>
      <if test="name1 != null">
        #{name1,jdbcType=VARCHAR},
      </if>
      <if test="name2 != null">
        #{name2,jdbcType=VARCHAR},
      </if>
      <if test="name3 != null">
        #{name3,jdbcType=VARCHAR},
      </if>
      <if test="name4 != null">
        #{name4,jdbcType=VARCHAR},
      </if>
      <if test="name5 != null">
        #{name5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhxy.domain.Notice">
    update notice
    <set>
      <if test="uid != null">
        Uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="ncontent != null">
        ncontent = #{ncontent,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null">
        TypeId = #{typeid,jdbcType=INTEGER},
      </if>
      <if test="read != null">
        read = #{read,jdbcType=VARCHAR},
      </if>
      <if test="headline != null">
        headline = #{headline,jdbcType=VARCHAR},
      </if>
      <if test="ntime != null">
        Ntime = #{ntime,jdbcType=TIMESTAMP},
      </if>
      <if test="nstate != null">
        nstate = #{nstate,jdbcType=INTEGER},
      </if>
      <if test="target != null">
        target = #{target,jdbcType=INTEGER},
      </if>
      <if test="name1 != null">
        name1 = #{name1,jdbcType=VARCHAR},
      </if>
      <if test="name2 != null">
        name2 = #{name2,jdbcType=VARCHAR},
      </if>
      <if test="name3 != null">
        name3 = #{name3,jdbcType=VARCHAR},
      </if>
      <if test="name4 != null">
        name4 = #{name4,jdbcType=VARCHAR},
      </if>
      <if test="name5 != null">
        name5 = #{name5,jdbcType=VARCHAR},
      </if>
    </set>
    where Notice_Id = #{noticeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhxy.domain.Notice">
    update notice
    set Uid = #{uid,jdbcType=INTEGER},
      ncontent = #{ncontent,jdbcType=VARCHAR},
      TypeId = #{typeid,jdbcType=INTEGER},
      read = #{read,jdbcType=VARCHAR},
      headline = #{headline,jdbcType=VARCHAR},
      Ntime = #{ntime,jdbcType=TIMESTAMP},
      nstate = #{nstate,jdbcType=INTEGER},
      target = #{target,jdbcType=INTEGER},
      name1 = #{name1,jdbcType=VARCHAR},
      name2 = #{name2,jdbcType=VARCHAR},
      name3 = #{name3,jdbcType=VARCHAR},
      name4 = #{name4,jdbcType=VARCHAR},
      name5 = #{name5,jdbcType=VARCHAR}
    where Notice_Id = #{noticeId,jdbcType=INTEGER}
  </update>
</mapper>