<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhxy.mapper.RecordMapper">
  <resultMap id="BaseResultMap" type="com.zhxy.domain.Record">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="templateid" jdbcType="INTEGER" property="templateid" />
    <result column="Sid" jdbcType="INTEGER" property="sid" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="Result" jdbcType="VARCHAR" property="result" />
    <result column="Score"  property="score" />
    <result column="Status" jdbcType="INTEGER" property="status" />
    <result column="name1" jdbcType="VARCHAR" property="name1" />
    <result column="name2" jdbcType="VARCHAR" property="name2" />
    <result column="name3" jdbcType="VARCHAR" property="name3" />
    <result column="name4" jdbcType="VARCHAR" property="name4" />
    <result column="name5" jdbcType="VARCHAR" property="name5" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cid, templateid, Sid, tid, Result, Score, Status, name1, name2, name3, name4, 
    name5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhxy.domain.Record">
    insert into record (id, cid, templateid, 
      Sid, tid, Result, Score, 
      Status, name1, name2, 
      name3, name4, name5
      )
    values (#{id,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{templateid,jdbcType=INTEGER}, 
      #{sid,jdbcType=INTEGER}, #{tid,jdbcType=INTEGER}, #{result,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{name1,jdbcType=VARCHAR}, #{name2,jdbcType=VARCHAR}, 
      #{name3,jdbcType=VARCHAR}, #{name4,jdbcType=VARCHAR}, #{name5,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelectivess" parameterType="com.zhxy.domain.Record">
    insert into record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="templateid != null">
        templateid,
      </if>
      <if test="sid != null">
        Sid,
      </if>
      <if test="tid != null">
        tid,
      </if>
      <if test="result != null">
        Result,
      </if>
      <if test="score != null">
        Score,
      </if>
      <if test="status != null">
        Status,
      </if>
      <if test="name1 != null">
        name1,
      </if>
      <if test="name2 != null">
        name2,
      </if>
      <if test="name3 != null">
        name3,
      </if>
      <if test="name4 != null">
        name4,
      </if>
      <if test="name5 != null">
        name5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="templateid != null">
        #{templateid,jdbcType=INTEGER},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="result != null">
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="name1 != null">
        #{name1,jdbcType=VARCHAR},
      </if>
      <if test="name2 != null">
        #{name2,jdbcType=VARCHAR},
      </if>
      <if test="name3 != null">
        #{name3,jdbcType=VARCHAR},
      </if>
      <if test="name4 != null">
        #{name4,jdbcType=VARCHAR},
      </if>
      <if test="name5 != null">
        #{name5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhxy.domain.Record">
    update record
    <set>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="templateid != null">
        templateid = #{templateid,jdbcType=INTEGER},
      </if>
      <if test="sid != null">
        Sid = #{sid,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="result != null">
        Result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        Score = #{score,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="name1 != null">
        name1 = #{name1,jdbcType=VARCHAR},
      </if>
      <if test="name2 != null">
        name2 = #{name2,jdbcType=VARCHAR},
      </if>
      <if test="name3 != null">
        name3 = #{name3,jdbcType=VARCHAR},
      </if>
      <if test="name4 != null">
        name4 = #{name4,jdbcType=VARCHAR},
      </if>
      <if test="name5 != null">
        name5 = #{name5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhxy.domain.Record">
    update record
    set cid = #{cid,jdbcType=INTEGER},
      templateid = #{templateid,jdbcType=INTEGER},
      Sid = #{sid,jdbcType=INTEGER},
      tid = #{tid,jdbcType=INTEGER},
      Result = #{result,jdbcType=VARCHAR},
      Score = #{score,jdbcType=INTEGER},
      Status = #{status,jdbcType=INTEGER},
      name1 = #{name1,jdbcType=VARCHAR},
      name2 = #{name2,jdbcType=VARCHAR},
      name3 = #{name3,jdbcType=VARCHAR},
      name4 = #{name4,jdbcType=VARCHAR},
      name5 = #{name5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectxuan" resultMap="BaseResultMap">
	SELECT * FROM `record` WHERE `templateid`=#{templateid} AND Sid=#{sid} AND cid=#{cid}
	<if test="tid != null"> AND tid=#{tid}</if>
  </select>
  <insert id="insertxuan" >
		insert into
		record(templateid,cid,tid,sid,score,result,name1,name2)
		values
		<foreach collection="list" item="s" index="index"
			separator=",">
			(
			#{s.templateid},
			#{s.cid},
			#{s.tid},
			#{s.sid},
			#{s.score},
			#{s.result},
			#{s.name1},
			now()
			)
		</foreach>
	</insert>
	<!-- 选择题 -->
	<update id="updata_scorex" parameterType="com.zhxy.domain.Record">
		UPDATE `record` SET score='0' WHERE tid=#{tid} AND templateid=#{templateid} AND cid=1 AND sid=#{sid}
	</update>
	<!-- 填空题 -->
	<update id="updata_scoret" parameterType="com.zhxy.domain.Record">
		UPDATE `record` SET score='0' WHERE tid=#{tid} AND templateid=#{templateid} AND cid=2 AND sid=#{sid}
	</update>
	<!-- 应用题 -->
	<update id="updata_scorey" parameterType="com.zhxy.domain.Record">
		UPDATE `record` SET score='0' WHERE tid=#{tid} AND templateid=#{templateid} AND cid=3 AND sid=#{sid}
	</update>
	
	
</mapper>
