<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhxy.dao.StudentqingjiaMapper">

  <resultMap type="com.zhxy.domain.Studentqingjia" id="studentqingjia">
    <id column="id"  property="id" />
    <result column="studentid"  property="studentid" />
    <result column="qingjiareason" property="qingjiareason" />
    <result column="qingjiatime"  property="qingjiatime" />
    <result column="qingjiastatus"  property="qingjiastatus" />
    <result column="staffid"  property="staffid" />
    <result column="Date"  property="date" />
    <result column="name1"  property="name1" />
    <result column="name2"  property="name2" />
    <result column="name3"  property="name3" />
    <result column="name4"  property="name4" />
    <result column="name5"  property="name5" />
      
<association property="studentname" column="studentid" select="queryByStuId"></association>
<association property="qingjiaStatus" column="qingjiastatus" select="queryAllStatus"></association>
<association property="staffname" column="staffid" select="queryByStaffid"></association>
</resultMap>
 
 <select id="queryAllStu" resultMap="studentqingjia">
 
 select * from `studentqingjia`
 
 </select>
 
<select id="queryByStuId" resultType="com.zhxy.domain.CpStudent">
 
 select * from `cp_student` where `studentid` = #{id}
 
</select>
 
<select id="queryAllStatus" resultType="com.zhxy.domain.Qingjiatype">
 
 select * from `qingjiatype` where `qingjiaType` = #{id}
 
 </select>
 
<select id="queryByStaffid" resultType="com.zhxy.domain.CpStaff">
 
 select * from `cp_staff` where `staffid` = #{id}
 
</select>
 
<select id="queryByStudentNameAndStudentStatu" resultMap="studentqingjia">
	SELECT * FROM `studentqingjia`  
	<where>
		<if test="StuStatus !=null and StuStatus!=0">
			and `qingjiastatus` =#{StuStatus} 
		</if>
		<if test="name!=null">
			and `studentid` in (select studentid from cp_student where studentname like concat('%',#{name},'%')) 
		</if>
	</where>
</select>
 
<update id="updateStu">
 
 update `studentqingjia` set `qingjiaStatus`=#{StuStatus}  where `studentid`=#{id}
 
</update>
 
 <delete id="deleteStu">
 
 delete from `studentqingjia` where `studentid` = #{id}
 
 </delete>
 
<insert id="insert" parameterType="com.zhxy.domain.Studentqingjia">  
	        INSERT INTO studentqingjia (StudentID,
     							  qingjiaReason,
     							  qingjiaTime,
     							  qingjiaStatus,
     							  staffid,
     							  Date
                                   )  
	                  VALUES  (#{studentid},
               					 #{qingjiareason},
               					 #{qingjiatime},
               					 #{qingjiastatus},
               					 #{staffid},
               					 #{date}
	                          )  
</insert>
 
</mapper>