<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhxy.dao.TemplateMapper">
  <resultMap id="BaseResultMap" type="com.zhxy.domain.Template">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="total" jdbcType="INTEGER" property="total" />
    <result column="softtypeid" jdbcType="INTEGER" property="softtypeid" />
    <result column="cquestionid" jdbcType="INTEGER" property="cquestionid" />
    <result column="yquestionid" jdbcType="INTEGER" property="yquestionid" />
    <result column="tquestionid" jdbcType="INTEGER" property="tquestionid" />
    <result column="start" jdbcType="TIMESTAMP" property="start" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="end" jdbcType="TIMESTAMP" property="end" />
    <result column="creation" jdbcType="TIMESTAMP" property="creation" />
    <result column="name1" jdbcType="VARCHAR" property="name1" />
    <result column="name2" jdbcType="VARCHAR" property="name2" />
    <result column="name3" jdbcType="VARCHAR" property="name3" />
    <result column="name4" jdbcType="VARCHAR" property="name4" />
    <result column="name5" jdbcType="VARCHAR" property="name5" />
  </resultMap>
  <sql id="Base_Column_List">
    id, Name, total, softtypeid, cquestionid, yquestionid, tquestionid, start, uid, end, 
    creation, name1, name2, name3, name4, name5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from template
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from template
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhxy.domain.Template">
    insert into template (id, Name, total, 
      softtypeid, cquestionid, yquestionid, 
      tquestionid, start, uid, 
      end, creation, name1, 
      name2, name3, name4, 
      name5)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{total,jdbcType=INTEGER}, 
      #{softtypeid,jdbcType=INTEGER}, #{cquestionid,jdbcType=INTEGER}, #{yquestionid,jdbcType=INTEGER}, 
      #{tquestionid,jdbcType=INTEGER}, #{start,jdbcType=TIMESTAMP}, #{uid,jdbcType=INTEGER}, 
      #{end,jdbcType=TIMESTAMP}, #{creation,jdbcType=TIMESTAMP}, #{name1,jdbcType=VARCHAR}, 
      #{name2,jdbcType=VARCHAR}, #{name3,jdbcType=VARCHAR}, #{name4,jdbcType=VARCHAR}, 
      #{name5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhxy.domain.Template">
    insert into template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="softtypeid != null">
        softtypeid,
      </if>
      <if test="cquestionid != null">
        cquestionid,
      </if>
      <if test="yquestionid != null">
        yquestionid,
      </if>
      <if test="tquestionid != null">
        tquestionid,
      </if>
      <if test="start != null">
        start,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="end != null">
        end,
      </if>
      <if test="creation != null">
        creation,
      </if>
      <if test="name1 != null">
        name1,
      </if>
      <if test="name2 != null">
        name2,
      </if>
      <if test="name3 != null">
        name3,
      </if>
      <if test="name4 != null">
        name4,
      </if>
      <if test="name5 != null">
        name5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        #{total,jdbcType=INTEGER},
      </if>
      <if test="softtypeid != null">
        #{softtypeid,jdbcType=INTEGER},
      </if>
      <if test="cquestionid != null">
        #{cquestionid,jdbcType=INTEGER},
      </if>
      <if test="yquestionid != null">
        #{yquestionid,jdbcType=INTEGER},
      </if>
      <if test="tquestionid != null">
        #{tquestionid,jdbcType=INTEGER},
      </if>
      <if test="start != null">
        #{start,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="end != null">
        #{end,jdbcType=TIMESTAMP},
      </if>
      <if test="creation != null">
        #{creation,jdbcType=TIMESTAMP},
      </if>
      <if test="name1 != null">
        #{name1,jdbcType=VARCHAR},
      </if>
      <if test="name2 != null">
        #{name2,jdbcType=VARCHAR},
      </if>
      <if test="name3 != null">
        #{name3,jdbcType=VARCHAR},
      </if>
      <if test="name4 != null">
        #{name4,jdbcType=VARCHAR},
      </if>
      <if test="name5 != null">
        #{name5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhxy.domain.Template">
    update template
    <set>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="softtypeid != null">
        softtypeid = #{softtypeid,jdbcType=INTEGER},
      </if>
      <if test="cquestionid != null">
        cquestionid = #{cquestionid,jdbcType=INTEGER},
      </if>
      <if test="yquestionid != null">
        yquestionid = #{yquestionid,jdbcType=INTEGER},
      </if>
      <if test="tquestionid != null">
        tquestionid = #{tquestionid,jdbcType=INTEGER},
      </if>
      <if test="start != null">
        start = #{start,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="end != null">
        end = #{end,jdbcType=TIMESTAMP},
      </if>
      <if test="creation != null">
        creation = #{creation,jdbcType=TIMESTAMP},
      </if>
      <if test="name1 != null">
        name1 = #{name1,jdbcType=VARCHAR},
      </if>
      <if test="name2 != null">
        name2 = #{name2,jdbcType=VARCHAR},
      </if>
      <if test="name3 != null">
        name3 = #{name3,jdbcType=VARCHAR},
      </if>
      <if test="name4 != null">
        name4 = #{name4,jdbcType=VARCHAR},
      </if>
      <if test="name5 != null">
        name5 = #{name5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhxy.domain.Template">
    update template
    set Name = #{name,jdbcType=VARCHAR},
      total = #{total,jdbcType=INTEGER},
      softtypeid = #{softtypeid,jdbcType=INTEGER},
      cquestionid = #{cquestionid,jdbcType=INTEGER},
      yquestionid = #{yquestionid,jdbcType=INTEGER},
      tquestionid = #{tquestionid,jdbcType=INTEGER},
      start = #{start,jdbcType=TIMESTAMP},
      uid = #{uid,jdbcType=INTEGER},
      end = #{end,jdbcType=TIMESTAMP},
      creation = #{creation,jdbcType=TIMESTAMP},
      name1 = #{name1,jdbcType=VARCHAR},
      name2 = #{name2,jdbcType=VARCHAR},
      name3 = #{name3,jdbcType=VARCHAR},
      name4 = #{name4,jdbcType=VARCHAR},
      name5 = #{name5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>