<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhxy.dao.YuangongqingjiaMapper">

<resultMap type="com.zhxy.domain.Yuangongqingjia" id="yuangongqingjia">
    <id column="id"  property="id" />
    <result column="staffid"  property="staffid" />
    <result column="qingjiareason"  property="qingjiareason" />
    <result column="qingjiatime"  property="qingjiatime" />
    <result column="qingjiastatus"  property="qingjiastatus" />
    <result column="date"  property="date" />
    <result column="name1"  property="name1" />
    <result column="name2"  property="name2" />
    <result column="name3"  property="name3" />
    <result column="name4"  property="name4" />
    <result column="name5"  property="name5" />
    
<association property="staffName" column="staffid" select="queryById"></association>
<association property="qingjiaStatus" column="qingjiastatus" select="queryAllStatus"></association>
</resultMap>
 
<select id="queryAll" resultMap="yuangongqingjia">

select * from `yuangongqingjia`

</select>
 
<select id="queryById" resultType="com.zhxy.domain.CpStaff">

select * from `cp_staff` where `staffid` = #{id}

</select>

<select id="queryAllStatus" resultType="com.zhxy.domain.Qingjiatype">

select * from `qingjiatype` where `qingjiaType` = #{id}

</select>

<select id="queryByNameAndStatus" resultMap="yuangongqingjia">
	SELECT * FROM `yuangongqingjia`  
	<where>
		<if test="Status !=null and Status!=0">
			and `qingjiastatus` =#{Status} 
		</if>
		<if test="name!=null">
			and `staffid` in (select staffid from cp_staff where staffname like concat('%',#{name},'%')) 
		</if>
	</where>
</select>

<update id="updateYuan">
 
 update `yuangongqingjia` set `qingjiaStatus`=#{Status}  where `staffid`=#{id}
 
</update>

<insert id="insert" parameterType="com.zhxy.domain.Yuangongqingjia">  
	        INSERT INTO yuangongqingjia (StaffId,
     							  qingjiaReason,
     							  qingjiaTime,
     							  qingjiaStatus,
     							  Date
                                   )  
	                  VALUES  (#{staffid},
               					 #{qingjiareason},
               					 #{qingjiatime},
               					 #{qingjiastatus},
               					 #{date}
	                          )  
</insert>


 <delete id="delele">
 
 delete from `yuangongqingjia` where `staffid` = #{id}
 
 </delete>
</mapper>